.serechbar {
    outline-width: 1px;
    outline-style: auto;
    outline-color: black;
    width: 27%;
    min-width: 300px;
    justify-self: left;
    align-self: left;
    transition-duration: 150ms;
    transition-property: all;
    margin-left: 1%;
}

.serechbar:hover {
    width: 30%;
    min-width: 530px;
    transition-duration: 150ms;
    transition-property: all;
}

.animals{

   } 

.scale-105 {
    backface-visibility: hidden;
    transform: translateZ(0);
}


#searchbar{}

li {
    list-style: none;
}

.cord {

    
}

.home {
    cursor: none;
  }



.hide {
    display: none;
    transition-duration: 150ms;
    transition-property: all;
}

.cursor {
    background-color: #333;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    mix-blend-mode: difference;
  }